*{
    margin: 0px;
    padding: px;
  }
  
  body{
    font-family: Ariel, Helvetica, sans-serif;
    background-image: url('./Assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    line-height: 1.6;
    text-align: left;
    overflow-x: hidden;
  }
  .topnav {
    background-color: black;
    overflow: hidden;
    width: auto;
    animation-name: nav;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
  }
  @keyframes nav{
    0%{opacity: 0}
    100%{opacity: 1}
  }
  .topnav h1 {
      color: white;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    border-radius: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(214, 51, 51);
    color: black;
  }
  
  .topnav a.active {
    background-color: #7af5c8;
    color: black;
  }
  .container{
    max-width: 960px;
    margin: 30px;
    padding: 0px;
  }
  
  #showcase{
    height: 300px;
  }
  
  #showcase h1{
    font-size: 50px;
    margin-top: 50px;
    margin-left: 30px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes heading{
    0% {top: -220px;}
    100% {top: 200px;}
  }
  
  #content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes content{
    0% {left: -1000px;}
    100% {left: 0px;}
  }
  
  .btn{
      margin-left: 30px;
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 1rem 2rem;
      border: white 1px solid;
      border-radius: 35px;
      margin-top: 40px;
      opacity: 0;
      animation-name: btn;
      animation-duration: 3s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      transition-property: transform;
      transition-duration: 1.5s;
    }
  
  .btn:hover{
    transform: rotateY(360deg);
    color: red;
    border: red 1px solid;
  }
  
  @keyframes btn {
    0%{opacity: 0}
    100%{opacity: 1}
  }

  footer {
    text-align: center;
    padding: 3px;
    opacity: 1;
    background-color: rgba(68,177,147,0.6);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    animation-name: foot;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1.5s;
  }
  @keyframes foot{
    0%{opacity: 0}
    100%{opacity: 1}
  }